* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar button {
  position: relative;
  font-size: 1.3em;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 6px 20px;
  transition: .5s;
}

.navbar button:hover {
  background: black;
  color: rgb(0, 255, 64);
  border-radius: 20px;
  box-shadow: 0 0 5px black,
    0 0 25px black,
    0 0 50px black,
    0 0 100px black;
}